@import "utilities";

.health{
    border: 2px solid black;
    z-index: 1;
    position: relative;
    left: 5em;
    width: 1em;
    text-align: center;
    background-color: red;
    @include set_centerposition;
}

