@mixin set_centerposition{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    // width: $value;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin squaresides($value){
    width: $value;
    height: $value;
}

@mixin samepadding($value){
    padding: $value $value $value $value
}

@mixin leftbutton($value){
    left: $value
}