@use "health";
@import "colors";
@import "utilities";
body{
    background-color: $backgroundprimary;
}
div{
    color: $secondarygametext;
    text-align: center;
    @include samepadding(15px);
    .characterinfo{
        color:$secondarygametext;
    }    
}
#tips{
    width:600px;
    border: 2px solid $gametext;
    position: relative;
    left: 950px;
    top: 50px;
    font-weight: bold;
}
.hand{
    color: $secondarygametext;
}

#info{
    color: $secondarygametext;
    position: absolute;
    top: 205px;
    width: 850px;
    background-color: $backgroundsecondary;
}
#opponent{
    color: $primaryfontcolor;
    position: relative;
    left: 20px;
    z-index: 0;
    @include squaresides(200px)
}
#player{
    color: $primaryfontcolor;
    position: relative;
    left: 1150px;
    top: 75px;
    z-index: 0;
    @include squaresides(200px)
}
#showdeck, #draw, #rules, #endturn, #showoppturn, #newgameIn{
    position: absolute;
    bottom: 100px;
    z-index: 1;
}
#draw{
    @include leftbutton(100px)
}
#rules{
    @include leftbutton(150px)
}
#endturn{
    @include leftbutton(200px)
}
#showoppturn{
    @include leftbutton(275px)
}
#newgameIn{
    @include leftbutton(550px)
}