@import "colors";
@import 'utilities';

body{
    background-color: $backgroundprimary;
    h1, h2, h3{
        color: $primaryfontcolor;
        text-align: center;
        align-items: center;
        @include samepadding(10px);
    }
    #newgame{
        text-align: center;
        @include set_centerposition;
        @include squaresides(10em);
        @include samepadding (10px);
    }
}
