div{
    background-color: chartreuse;
    border: 2px solid black;
    height:200px;
    width: 25vw;

    padding: 25px 25px 25px 50px;
    
    /*padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    */

    margin: 15px;
}