div{
    background-color: chartreuse;
    border: 2px solid black;
    
    padding: 25px 25px 25px 50px;
    
    /*padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    */

    margin: 15px;
}
#opponent{
    color: antiquewhite;
    position: relative;
    left: 20px;
    z-index: 0;
    height:200px;
    width: 25vw;

}
#player{
    position: relative;
    left: 1150px;
    top: 200px;
    z-index: 0;
    height:200px;
    width: 25vw;

}
.health{
    border: 2px solid black;
    height: 1px;
    z-index: 1;
    position: relative;
    width: 1px;
    background-color: red;
}
#newgame{
    background-color: chartreuse;
    text-align: center;
}
#next{
    background-color: antiquewhite;
}

#info{
    width: 45vw;
    text-align: center;
}

